.root{
    background-color: black;
    padding: 0px 20px;
}

.bg-blue-600{
    background-color: rgba(0, 0, 255, 0.751) !important;
}

.bg-blue-500{
    background-color: rgba(0, 0, 255, 0.467) !important;
}

.heading{
    transform: translateX(-66%);
}